extends illustration

block title
  | #{project} | #{type} | g0v 文化部授權中心

block content
  if project
    .wrap
      .ui.column.stackable.divided.grid
        .row
          .two.wide.column
            .image
              ul
                each url,id in images
                  li
                    img(id=id,src=url)
            .preview.clearfix
              ul
                each id,url in images
                  li
                    a(href='#'+id)
                      img(src=url)
            .description
              .ui.horizontal.divider 作品簡介
              each cat,catName in description
                h3 #{catName}
                p.description #{cat}
          .one.wide.column
            h2 #{project}
            p.item.meta
              span.ui.horizontal.label 作者
              each info,name in authors
                span.text #{name}
                if info.twitter
                  a(href=info.twitter)
                  i.icon.twitter
                if info.facebook
                  a(href=info.facebook)
                  i.icon.facebook
                if info.thumblr
                  a(href=info.thumblr)
                  i.icon.thumblr
                if info.plus
                  a(href=info.plus)
                  i.icon.plus
            p.item.meta
              span.ui.horizontal.label 授權
              span.text #{license}
              a(href='')
                i.icon.url
            .item
              .ui.teal.button
                i.download.icon
                | 下載工作檔
              .text.file.meta
                | PSD, 1920 x 1080 px, 1.5MB
            .meta.group
              .ui.horizontal.divider 關於
              p.item.meta
                span.ui.horizontal.label 類型
                span.text #{type}
              p.item.meta
                span.ui.horizontal.label 所屬領域
                span.text #{field}
              p.item.meta
                span.ui.horizontal.label 相關專案
                span.text #{project}
              p.item.meta
                span.ui.horizontal.label 發表
                span.text #{publish}
              p.item.meta
                span.ui.horizontal.label 更新
                span.text #{update}

block footer
  .ui.labeled.icon.button.black
    i.icon.info
    | 看原始提案
  .ui.labeled.icon.button.black
    i.icon.edit
    | 更新作品
