.wrap.clearfix
  - fs=require('fs');
  - var glob=function(folder, regexp){
  -   var result=[];
  -   var files=fs.readdirSync(folder); for(var i=0;i<files.length;i++){
  -     var target_file = folder+'/'+files[i];
  -     var target_path = folder+'.html';
  -     var target_topic = target_path.slice(indexOf('/'),lastIndexOf('/'));
  -     var target_author = folder.slice(lastIndexOf('/'));
  -     var stat = fs.statSync(target_file);
  -     if(stat.isDirectory()){ result=result.concat(glob(target_file,regexp))}
  -     if(stat.isFile() && target_file.match(regexp)){ result.push([target_file,target_path,target_topic,target_author])}
  -   }
  -   return result;
  - };
  .ui.horizontal.divider 插畫
  - files=(glob("../portfolio/illustration",/.(png|jpg)/))
  each f in files
    .thumbnail
      .ui.ribbon.label.blue PSD
      a(href=f[1])
        img.rounded.ui.image(src=f[0])
      p.topic=f[2]
      span.ui.bottom.right.attached.label.small.circular.black=f[3]

  .thumbnail
    .ui.ribbon.label.blue PSD
    a(href='illustration-newshelper.html')
      img.rounded.ui.image(src='gallery/newshelper/01.png')
    | 新聞小幫手
    span.ui.bottom.right.attached.label.small.circular.black tuiry
  .thumbnail
    .ui.ribbon.label.blue PSD
    a(href='illustration-newshelper.html')
      img.rounded.ui.image(src='gallery/newshelper/02.png')
    | 新聞小幫手
    span.ui.bottom.right.attached.label.small.circular.black tuiry
  .thumbnail
    .ui.ribbon.label.blue PSD
    a(href='illustration-newshelper.html')
      img.rounded.ui.image(src='gallery/newshelper/03.png')
    | 新聞小幫手
    span.ui.bottom.right.attached.label.small.circular.black tuiry
  .thumbnail
    .ui.ribbon.label.blue PSD
    a(href='illustration-newshelper.html')
      img.rounded.ui.image(src='gallery/newshelper/04.png')
    | 新聞小幫手
    span.ui.bottom.right.attached.label.small.circular.black tuiry
  .thumbnail
    .ui.ribbon.label.blue PSD
    a(href='illustration-newshelper.html')
      img.rounded.ui.image(src='gallery/newshelper/05.png')
    | 新聞小幫手
    span.ui.bottom.right.attached.label.small.circular.black tuiry
  .thumbnail
    img.rounded.ui.image(src='gallery/g0v/loli.jpg')
    | g0v 娘
    span.ui.bottom.right.attached.label.small.circular.black 飄伶
  .thumbnail
    img.rounded.ui.image(src='gallery/g0.0v/glasses.jpg')
    | 護眼娘
    span.ui.bottom.right.attached.label.small.circular.black tuiry
  .thumbnail
    img.rounded.ui.image(src='gallery/fact/03.jpg')
    | 志學
    span.ui.bottom.right.attached.label.small.circular.black tuiry
  .thumbnail
    img.rounded.ui.image(src='gallery/listening/01.jpg')
    | 福利娘
    span.ui.bottom.right.attached.label.small.circular.black tuiry
  .thumbnail
    img.rounded.ui.image(src='gallery/kuansim/kuansiim.jpg')
    | 鄉民關心您
    span.ui.bottom.right.attached.label.small.circular.black tuiry
  .thumbnail
    img.rounded.ui.image(src='gallery/digger/digger.jpg')
    | 挖坑獸
    span.ui.bottom.right.attached.label.small.circular.black tuiry
  .thumbnail
    img.rounded.ui.image(src='gallery/zookeeper/zookeeper.jpg')
    | 動物園長
    span.ui.bottom.right.attached.label.small.circular.black tuiry
  .thumbnail
    img.rounded.ui.image(src='gallery/tisa-personalinfo/tisa-personalinfo.jpg')
    | 服貿全都露
  .thumbnail
    .ui.ribbon.label.blue PSD
    img.rounded.ui.image(src='gallery/tisa-blind/服貿黑箱-etblue-master.png')
    | 服貿黑箱
    span.ui.bottom.right.attached.label.small.circular.black ETBlue
  .thumbnail
    img.rounded.ui.image(src='gallery/tisa-internet/war.jpg')
    | 服貿我開放，你設防
  .thumbnail
    img.rounded.ui.image(src='gallery/tisa-publish/triplehead.jpg')
    | 服貿出版業合體巨獸
.wrap-vertical.clearfix
  .ui.horizontal.divider 設計
.wrap-vertical.clearfix
  .ui.horizontal.divider 攝影
.wrap-vertical.clearfix
  .ui.horizontal.divider 音樂
.wrap-vertical.clearfix
  .ui.horizontal.divider 投影片
.wrap-vertical.clearfix
  .ui.horizontal.divider 平面印刷
